.card{
    border: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    background-color: #ffffff;
    margin: 5px;
    color:black;
    width: 30rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    
}
.title{
    font-family: "Arial", sans-serif;
    font-size: 1.6em;
    font-weight: 400;
}
.card:hover {
    transform: scale(1.05);
  }
  
  .card .text-muted {
    font-family: "Arial", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
  }
.button {
    border-radius: 8px;
    border: 1px solid ;
    padding: 0.6em 1.2em;
    font-size: 1em;
    width: auto;
    font-weight: 500;
    font-family: inherit;
    background-color: #1f0ed6;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
  }
 .button:hover {
    background-color: #230ad6;
}